// -----------------------------------------------------------------------------
// This file contains all application-wide scss variables.
// -----------------------------------------------------------------------------

// COLOR PALETTE
// Example of use in the following link
// https://stackoverflow.com/a/49376995
:root {
  --black-color: #000;
  --mine-shaft-color: #323232;
  --white-color: #fff;
}
