// -----------------------------------------------------------------------------
// This file contains all application-wide scss variables.
// -----------------------------------------------------------------------------

// COLOR PALETTE
$palette: (
  black: #000,
  bondi-blue: #029bae,
  dusty-gray: #9c9c9c,
  mine-shaft: #323232,
  scampi: #675ea0,
  white: #fff
);

// MEDIA QUERIES SIZES
$queries: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// CSS Variables
// Example of use in the following link
// https://stackoverflow.com/a/49376995
:root {
  --theme-primary-color: #{ map-get($palette, 'bondi-blue') };
  --theme-secondary-color: #{ map-get($palette, 'scampi') };
}
